body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f3f4f6;
}

.display-container {
    max-width: 9000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 6;
}

.empenho-number {
    font-size: 18px;
    color: #555;
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-column {
    width: 45%; /* Ajuste conforme necessário */
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

strong {
    font-weight: bold;
    margin-right: 5px;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para as colunas da tabela */
#recebidosTable th:nth-child(1) { width: 10%; } /* Dt */
#recebidosTable th:nth-child(2) { width: 1%; } /* Código */
#recebidosTable th:nth-child(3) { width: 1%; } /* Código */
#recebidosTable th:nth-child(4) { width: 50%; } /* Descrição */
#recebidosTable th:nth-child(5) { width: 1%; } /* Apresentação */
#recebidosTable th:nth-child(6) { width: 10%; } /* Marca */
#recebidosTable th:nth-child(7) { width: 5%; } /* Qtd Recebida */
#recebidosTable th:nth-child(8) { width: 8%; } /* Valor Unitário (R$) */
#recebidosTable th:nth-child(9) { width: 10%; } /* Valor Total (R$) */
#recebidosTable th:nth-child(10) { width: 5%; } /* Entregue nos conformes? */
#recebidosTable th:nth-child(11) { width: 5%; } /* Carta de troca? */
#recebidosTable th:nth-child(12) { width: 5%; } /* Deletar */

.info-column {
    word-wrap: break-word; /* Garante que palavras longas sejam quebradas */
    word-break: break-all; /* Garante a quebra de palavras em qualquer ponto */
    overflow: hidden; /* Esconde conteúdo que excede o tamanho da div */
    text-overflow: ellipsis; /* Adiciona "..." para indicar texto cortado */
    padding: 5px; /* Espaçamento interno para estética */
}

.editablefor {
    width: calc(65% + 1px); /* Aumenta a largura em 1 pixel */
    height: calc(1.5em + 1px); /* Aumenta a altura em 6 pixels */
    box-sizing: border-box; /* Inclui o padding e a borda na largura e altura total */
    padding: 6px; /* Ajuste o padding se necessário */
    border: 1px solid #ccc; /* Borda para visualizar o campo */
    border-radius: 3px; /* Bordas arredondadas */
}

.editableOBS {
    width: calc(100% + 1px); /* Aumenta a largura em 1 pixel */
    height: calc(3em + 5px); /* Aumenta a altura em 6 pixels */
    box-sizing: border-box; /* Inclui o padding e a borda na largura e altura total */
    padding: 6px; /* Ajuste o padding se necessário */
    border: 1px solid #ccc; /* Borda para visualizar o campo */
    border-radius: 3px; /* Bordas arredondadas */
}

/* Estilos para a seção de "Recebidos" */
.recebidos-section {
    margin-top: 25px;
}
#recebidosTable tr:nth-child(even) {
    background-color: #f9f9f9; /* Cinza claro para linhas pares */
}

#recebidosTable tr:nth-child(odd) {
    background-color: #ffffff; /* Branco para linhas ímpares */
}
.recebidos-section .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recebidos-form {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.form-column {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checklist-column {
    flex: 0 5%; /* Corrigido para flex-grow */
    min-width: 150px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-column {
    flex: 0 0 auto;
    padding: 10px;
}

.recebidos-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.recebidos-form input {
    height: calc(1.5em + 10px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.recebidos-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.recebidos-form button:hover {
    background-color: #45a049;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checklist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checklist li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.checklist input[type="checkbox"] {
    margin-right: 8px;
}

#recebidosTable {
    width: 100%; /* Ajuste a largura conforme necessário */
    border-collapse: collapse; /* Para melhorar a aparência */
}

#recebidosTable th, #recebidosTable td {
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Adiciona borda às células */
}

#recebidosTable th {
    background-color: #f2f2f2; /* Cor de fundo para cabeçalho */
}

/* Classe para controlar o tamanho da fonte da tabela */
.tabela-personalizada {
    font-size: 10px; /* Defina o tamanho padrão que você deseja */
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.tabela-container {
    max-height: 200px; /* ajuste a altura conforme necessário */
    overflow-y: auto; /* habilita a rolagem vertical */
    border: 1px solid #ccc; /* opcional: borda para o contêiner */
    margin-top: 10px; /* opcional: espaço acima do contêiner */
}

#historicosTable {
    width: 100%; /* garante que a tabela use toda a largura do contêiner */
    border-collapse: collapse; /* remove espaços entre as células */
}

#historicosTable th, #historicosTable td {
    padding: 8px; /* espaço interno nas células */
    text-align: left; /* alinhamento do texto */
}

#historicosTable th {
    background-color: #f2f2f2; /* cor de fundo dos cabeçalhos */
    border-bottom: 1px solid #ccc; /* borda inferior dos cabeçalhos */
}
.comentarios-container {
    max-height: 300px; /* Definindo uma altura máxima */
    overflow-y: auto; /* Habilitando rolagem vertical */
    overflow-x: hidden; /* Ocultando rolagem horizontal */
    border: 1px solid #ddd; /* Opcional: adiciona uma borda ao contêiner */
}
.comentarios-container table {
    width: 100%;
    border-collapse: collapse;
}
.comentarios-container th, .comentarios-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.comentarios-container th {
    background-color: #f2f2f2;
}
/* Ocultando a coluna Empenho apenas nesta tabela */
.comentarios-container th:nth-child(2), .comentarios-container td:nth-child(2) {
    display: none;
}
#backButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3438ff; /* Vermelho */
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#salvarButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Verde */
    color: white;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    opacity: 0.9; /* Efeito de hover para ambos */
}
.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Fundo com transparência */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
