/* CSS existente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px auto;
}

.module {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.module h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
}

.form-group input {
    flex: 2;
    padding: 5px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"],
button[type="button"] {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0056b3;
}

/* Novo CSS para estilizar apenas os campos de entrada e etiquetas */
.form-custom .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
}

.form-custom .form-group label {
    flex: 1;
    margin-right: 0;
}

.form-custom .form-group input {
    flex: 2;
    margin-right: 0;
}
